
*{
    outline:none;
    box-sizing: border-box;
    padding-left:10px;

}
body{
    font-family: 'Inter', sans-serif;
}

html{
    width: 100%;
    overflow-x: hidden;
}
 .logo{
     padding-left:40px;

 }

 .container{
     width: 1400px;
     height:145px;
     display: flex;
     align-items: center;
     justify-content: space-between;

 }
.menu{
    position: relative;
    display: inline-block;
    margin:10px;
    

}
.login {
    border-radius: 20px;
    border-color:#6318DD;
    color: #6318DD;
    margin-left:400px;
    height: 43px;
    width: 80px;
}

.signup{
    background-color:#6318DD;
    border-radius:20px;
    color:white;
    margin-right:50px;
    height: 43px;
    width: 98px;
}

.menu{
    list-style-type: none;
}

.destination{
    position: absolute;
    background-image:linear-gradient(to right,#6318DD,#D03BE8);
    color: white;
    border-color: #6318DD;
    border-radius: 20px;
    height: 43px;
    width: 199px;
    margin-left:-10px;
    margin-top: 40px;


}
.learn{
    position: absolute;
    border-radius: 20px;
    color: #6318DD;
    border-color: #6318DD;
    height: 43px;
    width: 126px;
    margin-left:230px;
    margin-top:40px;
}
.discover{
    border-radius: 12px;
    border-color: white;
    background: linear-gradient(90deg, #6318DD, #D03BE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 10px 20px 10px;
    width: 300px;
    height:45px;



}
.text{
    margin-left: 40px;
    margin-top:100px;
}
.Mask{
    position: absolute;
    margin-left:900px;
    margin-top:-400px;

}
.above{
    position: absolute;
    margin-left:600px;
    margin-top:-10px;

}
.airplane{
    position: absolute;
    margin-left:870px;
    margin-top:-580px;
}
.pointer{
    position: absolute;
    margin-left:220px;
    margin-top:-65px;
}

.main2{
    margin-top:400px;
}

.arrow-left{
    position: absolute;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding-right:30px;
    border-color: #2D3134;
    margin-left: 1000px;
    margin-top: -100px;

}

.arrow-right{
    position: absolute;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding-right:30px;
    border-color: #2D3134;
    margin-left: 1050px;
    margin-top: -100px;


}
.arrow-left:hover, .arrow-right:hover{
    background: linear-gradient(90deg, #6318DD, #D03BE8);

}
#img{
    display: flex;
    justify-content: space-evenly;
}
.man{
    position: absolute;
    margin-top: -40px;
}
.world{
    position: absolute;
}

.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.header{
    font-size: 44px;
}
.titr{
    font-size: 24px;
    margin-bottom: 10px;
}
.content{
    position: absolute;
    margin-left:800px;
}
.gray{
    color: #616161;
    font-weight: 400;
    font-size: 16px;


}
.box1:hover,.box2:hover,.box3:hover{
    box-shadow: 5px 10px 20px #E960F5;
}

#flight{
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left:-70px;
    margin-top:-50px;
}
#building{
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left:-70px;
    margin-top:-50px;
}
#loggage{
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left:-70px;
    margin-top:-50px;
}
.top{
    color: #E960F5;
    font-weight: 400;
    font-size: 25px;
}
.explore{
    font-weight: 700;
    font-size: 46px;
}
.complete{
    position: absolute;
    margin-top:700px;
}
.category{
    margin-top: 810px;
    margin-left:900px;

}
.li1{
    text-decoration: none;
    color: #616161;
    justify-content: space-between;
}
.li1:hover{
    color: #6318DD;
    text-decoration: underline;
}
.city1,.city2,.city3{
    position: absolute;
    margin-top: 100px;
}
.see1,.see2,.see3{
    margin-top:-60px;
    margin-left:200px;
}
.interest1,.interest2,.interest3,.interest4,.interest5,.interest6{
    margin-top:-35px;
    margin-left:35px;
}

.city2{
    margin-left:470px;
}
.city3{
    margin-left: 950px;
}
.see1,.see2,.see3,.see4,.see5,.see6{
    position: absolute;
    background-image:linear-gradient(to right,#6318DD,#D03BE8);
    color: white;
    border-color:#6318DD;
    border-radius: 20px;
    height: 46px;
    width: 108px;

}
.interest1,.interest2,.interest3,.interest4,.interest5,.interest6{
    position: absolute;
    color: #636363;
    font-weight:400;
}
.city4,.city5,.city6{
    position: absolute;
    margin-top:580px;

}
.city5{
    margin-left: 470px;
}
.city6{
    margin-left: 950px;
}
.see4,.see5,.see6 {
    margin-top: -60px;
    margin-left: 200px;
}
.people{
    position: absolute;
    text-align: center;
    margin-top: 1100px;
    margin-left: 500px;
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;

}
.customer{
    font-weight: 700;
    font-size: 27px;
}

.meet{
    font-weight: 700;
    font-size: 55px;
    margin-left: 127px;
}
.brazil{
    margin-left:30px;
    height: 305px;
    width: 525px;
    position: absolute;
}
#wealth{
    margin-left: 127px;
    color: #616161;

}
.right{
    position: absolute;
    margin-left: 790px;
    margin-top: -200px;
}
.expertise{
    position: absolute;
    height: 91px;
    width: 91px;
    margin-left:-100px;
    margin-top:-20px;
}
.passion{
    position: absolute;
    height: 91px;
    width: 91px;
    margin-left:-100px;
    margin-top:-20px;

}
.dedication{
    position: absolute;
    height: 91px;
    width: 91px;
    margin-left:-100px;
    margin-top:-20px;
}
.home{
    z-index: 1;
    position: absolute;
    margin-left:720px;
    margin-top:2067px;

}
.purple{
    width: 1260px;
    height: 440px;
    position: absolute;
    margin-top:2250px;
    margin-left:30px;
}

.layer{
    position: absolute;
    margin-top:2210px;
    margin-left: 550px;
}
.adventure{
    z-index: 1;
    position: absolute;
    margin-top:2380px;
    margin-left:1050px;
}
.left{
    position: absolute;
    margin-top:2280px;
    margin-left:100px;
}
.excitement{
    color: white;
    font-size: 55px;
    font-weight: 700;

}
.heading6{
    color: white;
    font-weight: 400;
    font-size: 18px;
}
.start{
    border-radius:155px;
    border-color: #F98112;
    background: #F98112;
    width: 226px;
    height: 57px;
    color: white;
    font-weight: 500;
    font-size: 22px;
}
#divider{
    position: absolute;
    margin-top:2750px;
    margin-left:30px;

}
#footer{
    color: gray;
    font-weight: 400;
    font-size: 18px;


}
.icon{
    width: 11px;
    height: 19px;
    position: absolute;
    display: inline-flex;
    justify-content:space-evenly;
}
#left{
    position: absolute;
    margin-top:2850px;
    margin-left:30px;

}
#end{
    position: absolute;
    margin-top:3300px;
    margin-left:30px;
}
#part1,#part2,#part3,#part4 {
    position: absolute;
    margin-top:2810px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
#heading1,#heading2,#heading3,#heading4{
    font-weight: 700;
    font-size: 18px;
}
#part1{

    margin-left:400px;
}
#part2{

    margin-left:600px;
}
#part3{

    margin-left:800px;
}
#part4{

    margin-left:1000px;
}
